{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    {% include 'invoice/partials/_tabs.html.twig' %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">
                                    <div>
                                        <h6 class="my-0">Reference</h6>
                                        <small class="text-muted">{{ invoice.reference }}</small>
                                    </div>
                                </li>
                                {% if invoice.quote %}
                                    <li class="list-group-item list-group-item-success">
                                        <div>
                                            <h6 class="my-0">Quote</h6>
                                            <small class="text-muted">
                                                <a href="{{ path('quote_preview', {'id': invoice.quote.id}) }}">
                                                    {{ invoice.quote.id ? '#CBQ00'~invoice.quote.id: '' }}
                                                </a>
                                            </small>
                                        </div>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="my-0">Status</h6>
                                        <small class="text-muted">{{ invoice.status }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="my-0">Invoice Created Date</h6>
                                        <small class="text-muted">{{ invoice.generatedAt|date('d/m/Y H:i') }}</small>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-9">
                            <div class="card inner-card">
                                {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
                                <div class="card-header">
                                    Edit Invoice Details
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.quote) }}
                                    {{ form_row(form.vat) }}
                                    {{ form_row(form.billingAddressFirst) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.billingAddress) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.shippingAddress) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.invoicedPhone) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.shippingPhone) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.invoicedVat) }}
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update
                                        Details
                                    </button>
                                    <a href="{{ path('invoices_show', {'id' : invoice.id}) }}" class="btn btn-info float-right">Cancel</a>

                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}