{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'partials/_admin_tabs.html.twig' %}
        </div>
        <div class="card-body">
            <small class="text-muted">
                Double click on row for more details.
            </small>
            <div id="jqxGrid"></div>
        </div>
        <div class="card-footer">
            <a href="{{ path('invoices_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create New Invoice</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('vendor/jqwidgets/jqx-all.js') }}"></script>

    <script>
        $(document).ready(function () {
            var data = {{ invoices|json_encode|raw }};
            var source = {
                localdata: data,
                datafields: [
                    {name: 'id', type: 'integer'},
                    {name: 'reference', type: 'string'},
                    {name: 'generated_date', type: 'date'},
                    {name: 'status', type: 'string'},
                ],
                datatype: "json"
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxGrid").jqxGrid({
                theme: 'light',
                width: '100%',
                source: dataAdapter,
                showfilterrow: true,
                filterable: true,
                sortable: true,
                pageable: true,
                showcolumnlines: false,
                columns: [
                    {text: '#', columntype: 'integer', datafield: 'id', width: '10%'},
                    {text: 'Reference', datafield: 'reference', width: '60%'},
                    {text: 'Generated At', datafield: 'generated_date', filtertype: 'range', width: '20%', cellsformat: 'dd/MM/yyyy'},
                    {text: 'Status', datafield: 'status', filtertype: 'checkedlist', width: '10%'},
                ]
            });

            $('#clear').click(function () {
                $("#jqxGrid").jqxGrid('clearfilters');
            });

            $('#export').click(function () {
                $('#jqxGrid').jqxGrid('exportdata', 'xls', 'All Invoices {{ 'now'|date('d-m-Y') }}');
            });

            $('#jqxGrid').on('rowclick',function(e){
                var data = $(this).jqxGrid('getrowdatabyid', e.args.rowindex);
                var url = '{{ path('invoices_show',{'id': 'value' }) }}';
                var urlReplaced = url.replace('value', data.id);
                window.location.href = urlReplaced;
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.light.css') }}" type="text/css"/>
{% endblock %}


