<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="font-size: 12px;">
        {#<li class="breadcrumb-item">DID YOU TAKE BACKUP</li>#}
        <li class="breadcrumb-item"><a href="{{ path('welcome') }}">Home</a></li>
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item" aria-current="page">
            {% if breadcrumb.name is defined %}
                <a href="{{ breadcrumb.url }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>
            {% else %}
                {{ breadcrumb }}
            {% endif %}
            </li>
        {% endfor %}
        {#<li class="ml-auto"><a href="#"><i class="fas fa-shopping-cart"></i> Basket</a></li>#}
    </ol>
</nav>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> We are slowly adding more content to our new website.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
