{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-expand-md navbar-light bg-light cb-navbar"
     style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
    <a class="navbar-brand" href="{{ path('welcome') }}">
        <img src="{{ asset('images/logo.svg') }}" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            {% if not is_granted('ROLE_ADMIN') %}
                <li class="nav-item {{ 'shop' in current_path ? 'active' }}">
                    <a class="nav-link" href="{{ path('shop') }}">
                        <i class="fas fa-shopping-basket fa-2x"></i>
                        <p>Shop</p></a>
                </li>
                <li class="nav-item {{ 'create_stamp' in current_path ? 'active' }}">
                    <a class="nav-link" href="{{ path('create_stamp') }}">
                        <i class="fas fa-plus-circle fa-2x" style="color: green;"></i>
                        <p style="color: green; font-weight: 500;">Create Stamp</p></a>
                </li>
                <li class="nav-item {{ 'our_products' in current_path ? 'active' }}">
                    <a class="nav-link" href="{{ path('our_products') }}">
                        <i class="fas fa-stamp fa-2x"></i>
                        <p>What we do</p></a>
                </li>
                <li class="nav-item {{ 'gallery' in current_path ? 'active' }}">
                    <a class="nav-link" href="{{ path('gallery') }}">
                        <i class="fas fa-images fa-2x"></i>
                        <p>Gallery</p></a>
                </li>
                <li class="nav-item {{ 'contact' == current_path ? 'active' }}">
                    <a class="nav-link" href="{{ path('contact') }}">
                        <i class="fas fa-envelope fa-2x"></i>
                        <p>Contact</p></a>
                </li>
                {#<li class="nav-item {{ 'front_end_faq' in current_path ? 'active' }}">#}
                    {#<a class="nav-link" href="{{ path('front_end_faq') }}">#}
                        {#<i class="fas fa-question-circle fa-2x"></i>#}
                        {#<p>FAQ</p></a>#}
                {#</li>#}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="navWrapper">
                    <li class="nav-item dropdown
                        {{ 'quote' in current_path or 'customer' in current_path or 'sketches' in current_path or 'invoice' in current_path ? 'active' }}">
                            <a class="nav-link" href="#" id="navbarDropdown1" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><i class="fas fa-file-alt fa-2x"></i>
                            <p>Custom Quotes</p></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1"
                             style="border: 1px solid #dee2e6; margin: 0 -1px 0; border-radius: 0;">
                            <a class="dropdown-item" href="{{ path('customers') }}"><i class="fas fa-users" style="width: 20px;"></i> Customers</a>
                            <a class="dropdown-item" href="{{ path('quotes') }}"><i class="fas fa-file-alt" style="width: 20px;"></i> Quotes</a>
                            <a class="dropdown-item" href="{{ path('sketches') }}"><i class="far fa-images" style="width: 20px;"></i> Sketches</a>
                            <a class="dropdown-item" href="{{ path('invoices') }}"><i class="fas fa-file-invoice-dollar" style="width: 20px;"></i> Invoices</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('admin_custom_orders') }}"><i class="fas fa-stamp" style="width: 20px;"></i> Online Custom Stamps</a>
                        </div>
                    </li>
                </div>


                <div class="navWrapper">
                    <li class="nav-item dropdown {{ 'admin' in current_path ? 'active' }}">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cogs fa-2x"></i>
                            <p>Settings</p></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"
                             style="border: 1px solid #dee2e6; margin: 0 -1px 0; border-radius: 0;">
                            <a class="dropdown-item" href="{{ path('admin_payment') }}">Payment Text</a>
                            <a class="dropdown-item" href="{{ path('admin_manufacturing') }}">Manufacturing Text</a>
                            <a class="dropdown-item" href="{{ path('admin_faq') }}">FAQ Management</a>
                            <a class="dropdown-item" href="{{ path('admin_product_category') }}">Eshop Products/Categories</a>
                            <a class="dropdown-item" href="{{ path('admin_custom_products') }}">Custom Products</a>
                            <a class="dropdown-item" href="{{ path('admin_gallery') }}">Photo Gallery Management</a>
                        </div>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt fa-2x"></i>
                        <p>Logout</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>