<!-- QUOTE DETAILS -->
<table class="table table-borderless">
    <thead>
    <tr>
        <td width="100"><h4 style="color: #00aae7;">Customer</h4></td>
        <td width="220">{{ quote.customer.name }}</td>
        <td width="100"><h4 style="color: #00aae7;">Quote No</h4></td>
        <td>#CBQ00{{ quote.id }}</td>
    </tr>
    <tr>
        <td><h4 style="color: #00aae7;">Email</h4></td>
        <td>{{ quote.customer.email }}</td>
        <td><h4 style="color: #00aae7;">Date</h4></td>
        <td>{{ 'now'|date('d/m/Y') }}</td>
    </tr>
    {% if quote.deadlineDate %}
        <tr>
            <td colspan="2"></td>
            <td><h4 style="color: #e73f4d;">Deadline Date</h4></td>
            <td style="color: #E73F4D;"><b>{{ quote.deadlineDate|date('d/m/Y') }}</b></td>
        </tr>
    {% endif %}
    </thead>
</table>

<!-- REQUEST DETAILS -->
<h3>Thank you for your query</h3>
<p style="font-size: 12px;">Purpose of this document is to provide more details regarding your query.
    Please check all information on this document.
    We are happy to answer further questions or comments that you might have. Don't hesitate to contact us on
    <a href="mailto:info@cocktailbrandalism.com" target="_top">info@cocktailbrandalism.com</a>.
</p>
<h4 style="color: #00aae7;">Request</h4>
{{ quote.request|nl2br }}

<!-- RESPOND DETAILS-->
<h4 style="color: #00aae7;">Notes</h4>
{{ quote.answer ? quote.answer|nl2br : 'N/A' }}

<!-- STAMPS & LOGOS -->
<h4 style=" color: #00aae7;">Item Details</h4>
<table cellpadding="5">
    <tbody>
    {% set handleSection = false %}
    {% if quote.brandSketchesNotRemoved|length > 0 %}
        {% for sketch in quote.brandSketchesNotRemoved %}
            {% if sketch.stampType.value == 'Ice Stamp' %}
                {% set handleSection = true %}
            {% endif %}

            <tr nobr="true">
                <td style="font-size: 10px; text-align: center; border: 1px solid #DDDDDD;">
                    <img src="{{ asset('uploads/sketches/'~sketch.file) }}" style="width: 200px; margin-top:10px;">
                </td>
                <td style="border: 1px solid #DDDDDD;">
                    <table>
                        <tr>
                            <td style="font-weight: bold;">Item No</td>
                            <td>#{{ '%05d'|format(sketch.id) }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Logo Description</td>
                            <td>{{ sketch.name }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Qty</td>
                            <td>{{ sketch.qty }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Item Type</td>
                            <td style="font-weight: bold; color: green;">{{ sketch.stampType }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Price</td>
                            <td style="font-weight: bold; color: green;">£{{ sketch.price }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Weight</td>
                            <td>{{ sketch.weight }}kg</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Stamp Shape</td>
                            <td>{{ sketch.stampShape.value }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Stamp Dimensions</td>
                            <td>{{ sketch.dimension }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Handle</td>
                            <td>{{ sketch.handle }}</td>
                        </tr>
                        {% if sketch.note %}
                            <tr>
                                <td style="font-weight: bold;">Note</td>
                                <td>{{ sketch.note|nl2br }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" style="font-weight: bold; font-size: 8px;"><br/><br/>Quoted Price & Weight
                                info per 1 unit excluding VAT & shipping costs.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>
                N/A
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>

<!-- HANDLE OPTIONS -->
{% if handleSection %}
    <table width="100%">
        <thead>
        <tr>
            <td>
                <h4 style="color: #00aae7;">Handle Options</h4>
                Select shape & colour of your Ice Stamp Handle please. <small>Ignore if you have already selected.</small>
            </td>
        </tr>
        <tr>
            <td><img src="{{ asset('images/handles.png') }}" style="width: 400px;"></td>
        </tr>
        </thead>
    </table>
{% endif %}

<!-- SHIPPING INFORMATION -->
<table>
    <tr nobr="true">
        <td colspan="2">
            <h4 style="color: #00aae7;">Shipping {{ shipping.shippingCountry ? 'to '~shipping.shippingCountry.name : 'destination to be confirmed' }}</h4>
            {% if shipping.shippingCountry %}
                <p>FedEx - very reliable {{ shipping.shippingCountry.fedexDeliveryDay }} day(s) delivery service
                    to {{ shipping.shippingCountry.name }}.</p>
                <p>Estimated weight for all items on this quote: <span
                            style="font-weight: bold;">{{ totalWeight|number_format(2) }}kg</span></p>
                <ul>
                    {% for key, item in shipping.shippingWeights %}
                        <li>Estimated price for <span style="font-weight: bold;">{{ key }}kg</span> parcel is <span
                                    style="font-weight: bold;">£{{ item.0|number_format(2) }}</span></li>
                    {% else %}
                        <li>Shipping costs will be specified on the invoice.</li>
                    {% endfor %}
                </ul>
            {% else %}
                <span style="color: #E73F4D;">To be confirmed with customer to estimate shipping costs.</span>
            {% endif %}
        </td>
    </tr>
    <tr nobr="true">
        <td>
            <h4 style="color: #00aae7;">Shipping Details</h4>
            {% if quote.shippingDetails %}
                {{ quote.shippingDetails|nl2br }}
            {% else %}
                <span style="color: #E73F4D;">Awaiting Shipping Details/Address & Phone Number information</span>
            {% endif %}
        </td>
        <td>
            <h4 style="color: #00aae7;">Billing Details</h4>
            {% if quote.billingDetails %}
                {{ quote.billingDetails|nl2br }}
            {% else %}
                <span style="color: #E73F4D;">Awaiting Billing Details/Address & VAT number (if applicable) information</span>
            {% endif %}
        </td>
    </tr>
</table>

<!-- PAYMENT INFORMATION -->
<h4 style="color: #00aae7;">Payment Options</h4>
{{ paymentOption.description|raw }}

<!-- MANUFACTURING INFORMATION -->
<h4 style="color: #00aae7;">Manufacturing Time</h4>
{{ manufacturing.description|raw }}

<!-- Thank you message -->
<hr />
<h1 style="text-align: center; font-size: 36px; color: #00aae7; margin-top: 100px;">We are looking forward to hear from you.</h1>




