{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'create_stamp/partials/_tabs.html.twig' %}
        </div>
        <div class="card-body">
            <h1 class="display-4">Select type of item you would like to create</h1>
            <p class="lead">If you would like to get a quote for something more specific please drop us an <a href="{{ path('contact') }}">email or contact us</a>. </p>
            <div class="row no-top-border-card">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card shadow-sm d-block">
                            <img src="{{ asset('images/stamp.jpg') }}" class="card-img-top" alt="Ice Stamp"
                                 style="border-top: 1px solid rgba(0,0,0,.125)">
                            <div class="card-body">
                                <h5 class="card-title">Ice Stamp</h5>
                                <p class="card-text">From this option you will be able to submit all information that we require in order to create quote and manufacture an ice stamp.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('create_stamp_items_ice_stamp', {'identifier' : enquiry.identifier}) }}" class="btn btn-success btn-md btn-block">Create Ice Stamp</a>
                            </div>
                        </div>
                        <div class="card shadow-sm d-block">
                            <img src="{{ asset('images/brandingiron.jpeg') }}" class="card-img-top" alt="..."
                                 style="border-top: 1px solid rgba(0,0,0,.125)">
                            <div class="card-body">
                                <h5 class="card-title">Branding Irons</h5>
                                <p class="card-text">
                                    Branding Irons use electricity to heat burning plate (where your logo is engraved) and burn the mark onto your
                                    delicious food or orange/lemon peels. Good to promote your name, brand or venue.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('create_stamp_items_branding_iron', {'identifier': enquiry.identifier}) }}" class="btn btn-success btn-md btn-block">Create Branding Iron</a>
                            </div>
                        </div>
                        <div class="card shadow-sm d-block">
                            <img src="{{ asset('images/heatstamp.jpg') }}" class="card-img-top" alt="..."
                                 style="border-top: 1px solid rgba(0,0,0,.125)">
                            <div class="card-body">
                                <h5 class="card-title">Heat Stamp - Manual Branders</h5>
                                <p class="card-text">Heat
                                    stamps using external heat source like torches to heat up stamp. Mark orange, lemon peels or leaves of other exotic
                                    fruits like pineapple or bambus. Some bartenders are also using heat stamp for ice branding.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('create_stamp_items_heat_stamp', {'identifier': enquiry.identifier}) }}" class="btn btn-success btn-md btn-block">Create Heat Stamp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('welcome') }}" class="btn btn-md btn-outline-secondary float-right">Close</a>
        </div>
    </div>
{% endblock %}
