{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'create_stamp/partials/_tabs.html.twig' %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6"><h1 class="display-4">Summary</h1></div>
                <div class="col-md-6 text-right"><a href="{{ path('create_stamp_send_enquiry', {'identifier': enquiry.identifier}) }}" style="padding: 10px;" class="btn btn-lg btn-success js-confirm-send">Confirm & Send Your </a></div>
            </div>
            <p class="lead">Double check your details are correct. Once you are happy with summary click on Confirm &
                Send Button to send your request. We will send you an email once we will create a quote.</p>

            <div class="alert alert-info">
                <h2>Contact Details</h2>
                <h5>Name
                    <small class="text-muted">{{ enquiry.name }}</small>
                </h5>
                <h5>Email
                    <small class="text-muted">{{ enquiry.email }}</small>
                </h5>
                <h5>Shipping Destination
                    <small class="text-muted">{{ enquiry.shippingCountry }}</small>
                </h5>
                <hr/>
                <a href="{{ path('create_stamp_contact_details_edit', {'identifier': enquiry.identifier}) }}" class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Edit Details</a>
            </div>

            <div class="alert alert-info">
                <h2>Items</h2>
                {% if enquiry.stampQuoteSketches|length > 0 %}
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Qty</th>
                            <th>Item Type</th>
                            <th>Stamp Shape</th>
                            <th>Stamp Size</th>
                            <th>Handle</th>
                            <th>File</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in enquiry.stampQuoteSketches %}
                        <tr>
                            <td>{{ item.qty }}</td>
                            <td>{{ item.stampType.value ?? '' }}</td>
                            <td>{{ item.stampShape.value ?? '' }} {{ item.isSphere ? '<span class="badge badge-primary">Sphere</span>' : '' }}</td>
                            <td>{{ item.sizeNote }}</td>
                            <td>
                                {{ item.handleShape.value ?? '' ~item.handleColor.value ?? '' }}
                            </td>
                            <td>{{ item.originalFile }}</td>
                            <td><a href="{{ path('create_stamp_items_delete', {'id' : item.id}) }}" class="btn btn-sm btn-outline-danger js-delete-sketch"><i class="fas fa-trash"></i></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}

                    <p class="lead">No items found. Please select a stamp type to submit your request.</p>
                    <hr/>
                {% endif %}
                <a href="{{ path('create_stamp_items', {'identifier' : enquiry.identifier}) }}" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Add More Items</a>
            </div>

            <div class="alert alert-info">
            <h2>Additional Comment</h2>
            <p class="lead">If you have any questions or special requirements feel free to add them</p>
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    <button type="button" class="btn btn-sm btn-info" id="js-save-comment-edit"><i class="fas fa-edit"></i> Edit comment</button>
                    <button type="submit" class="btn btn-sm btn-success" id="js-save-comment-save" style="display:none;"><i class="fas fa-save"></i>  Save comment</button>
                {{ form_end(form) }}
            </div>

        </div>
        <div class="card-footer">
            <a href="{{ path('create_stamp_send_enquiry', {'identifier': enquiry.identifier}) }}" class="btn btn-md btn-success js-confirm-send">Confirm & Send</a>
            <a href="{{ path('welcome') }}" class="btn btn-md btn-outline-secondary float-right">Close</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var canProgress = true;
        $(".js-delete-sketch").on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            swal({
                title: 'Do you want to delete this item?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#6c757d',
                confirmButtonText: '<i class="fas fa-check"></i>  Yes, delete this item!',
                allowOutsideClick: false,
            }).then(function(result) {
                if (result.value) {
                    window.location.href = url;
                }
            });
        });

        $('#js-save-comment-edit').click(function(){
            canProgress = false;
            $(this).hide();
            $('#summary_comment_form_additionalComment').prop('readonly', false);
            $('#js-save-comment-save').show();
        });

        $('.js-confirm-send').click(function(e){
            e.preventDefault();
            if(!canProgress){
                swal({
                    title: 'Additional comment not saved.',
                    text: "Did you forget to click on save additional comment?",
                    type: 'info',
                    allowOutsideClick: false,
                });
            }else{
                var url = $(this).attr('href');
                swal({
                    title: 'All details are correct?',
                    text: "After this step your enquiry will be sent to us.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#6c757d',
                    confirmButtonText: '<i class="fas fa-check"></i>  Yes, send enquiry',
                    allowOutsideClick: false,
                }).then(function(result) {
                    if (result.value) {
                        window.location.href = url;
                    }
                });
            }
        });

        {% if not form.vars.valid %}
        $('#addNewModal').modal('toggle');
        {% endif %}
    </script>

{% endblock %}
