{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <h1 class="card-header">
            <i class="fas fa-file-alt"></i> {{ title }}
            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Grid Buttons">
                <button type="button" class="btn btn-outline-secondary" id="clear"><i class="fas fa-times"></i> Clear
                    Filters
                </button>
                <button type="button" class="btn btn-outline-success" id="export"><i class="fas fa-download"></i> Export
                </button>
            </div>
        </h1>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr class="table-secondary">
                    <th></th>
                    <th>#</th>
                    <th>Title</th>
                    <th>Image Preview</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="js-sortable-parent">
                {% for photo in photos %}
                <tr data-id="{{ photo.id }}">
                    <td class="text-center" style="vertical-align: middle !important;"><i class="drag-handle fas fa-arrows-alt fa-2x"></i></td>
                    <td style="vertical-align: middle !important;">{{ photo.id }}</td>
                    <td style="vertical-align: middle !important;">{{ photo.title }}</td>
                    <td class="text-center"><img src="{{ asset('images/gallery/'~photo.file)|imagine_filter('thumbnail_gallery') }}" height="50" /></td>
                    <td style="vertical-align: middle !important;">{{ photo.isRemoved == false ? '<span class="badge badge-success">Yes</span>' : '<span class="badge badge-danger">No</span>' }}</td>
                    <td style="vertical-align: middle !important;"><a href="{{ path('admin_gallery_delete', {'id': photo.id}) }}" class="btn btn-danger btn-sm js-delete-gallery-photo"><i class="fas fa-trash"></i></a></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="table-info text-center"><b>No photos</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('admin_gallery_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Upload New Photo</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script>
        $(".js-delete-gallery-photo").on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            swal({
                title: 'Do you want to delete this picture?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#6c757d',
                confirmButtonText: '<i class="fas fa-check"></i>  Yes, delete picture!',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                }
            });
        });

        var sortable = Sortable.create($('.js-sortable-parent')[0], {
            handle: '.drag-handle',
            animation: 150,
            onEnd: function(){
                $.ajax({
                    'url': "{{ path('admin_gallery_reorder') }}",
                    'method': 'POST',
                    'data': JSON.stringify(sortable.toArray())
                });
            }
        });
    </script>
{% endblock %}


