{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
            <div class="card">
                <h1 class="card-header">
                    Upload New Gallery Photo
                </h1>
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Upload Photo</button>
                    <a href="{{ path('admin_gallery') }}" class="btn btn-secondary float-right">Close</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.custom-file-input').on('change',function(){
            var fileName = document.getElementById("gallery_photo_new_file").files[0].name;
            $(this).next('.custom-file-label').addClass("selected").html(fileName);

            // $(this).next('.ice_stamp_custom_form_file').val(fileName);
        })
    </script>
{% endblock %}
