{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('customer_show', {'id': customer.id}) }}"><i class="fas fa-user"></i> {{ title }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><span class="badge badge-info">{{ customer.quotesNotRemoved|length }}</span> Quotes</a>
                </li>
                <li class="ml-auto">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Grid Buttons">
                        <button type="button" class="btn btn-outline-secondary" id="clear"><i class="fas fa-times"></i> Clear Filters</button>
                        <button type="button" class="btn btn-outline-success" id="export"><i class="fas fa-download"></i> Export</button>
                    </div>
                </li>
            </ul>

        </div>
        <div class="card-body">
            <small class="text-muted">
                Double click on row for more details.
            </small>
            <div id="jqxGrid"></div>
        </div>
        <div class="card-footer">
            <a href="{{ path('customer_show', {'id': customer.id}) }}" class="btn btn-secondary float-right">Close</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('vendor/jqwidgets/jqx-all.js') }}"></script>

    <script>
        $(document).ready(function () {
            var data = {{ quotes|json_encode|raw }};
            var source = {
                localdata: data,
                datafields: [
                    {name: 'id', type: 'integer'},
                    {name: 'quote_id', type: 'string'},
                    {name: 'is_removed', type: 'bool'},
                    {name: 'request', type: 'string'},
                    {name: 'customer', type: 'string'},
                    {name: 'sketches', type: 'number'},
                    {name: 'status', type: 'string'},
                ],
                datatype: "json"
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxGrid").jqxGrid({
                theme: 'light',
                width: '100%',
                source: dataAdapter,
                showfilterrow: true,
                filterable: true,
                sortable: true,
                pageable: true,
                showcolumnlines: false,
                columns: [
                    {text: '#', columntype: 'integer', datafield: 'id', width: '10%', hidden: true},
                    {text: '#', columntype: 'string', datafield: 'quote_id', width: '10%'},
                    {text: 'Is Removed', datafield: 'is_removed', filtertype: 'bool', columntype: 'checkbox', width: '10%'},
                    {text: 'Request', datafield: 'request', width: '30%'},
                    {text: 'Email of Customer', datafield: 'customer', columntype: 'string', width: '30%'},
                    {text: 'Sketches', datafield: 'sketches', filtertype: 'number', width: '10%'},
                    {text: 'Status', datafield: 'status', filtertype: 'checkedlist', width: '10%'},
                ]
            });

            $('#clear').click(function () {
                $("#jqxGrid").jqxGrid('clearfilters');
            });

            $('#export').click(function () {
                $('#jqxGrid').jqxGrid('exportdata', 'xls', 'Quotes {{ customer.name }} {{ 'now'|date('d-m-Y') }}');
            });

            $('#jqxGrid').on('rowclick',function(e){
                var data = $(this).jqxGrid('getrowdatabyid', e.args.rowindex);
                var url = '{{ path('quote_show',{'id': 'value' }) }}';
                var urlReplaced = url.replace('value', data.id);
                window.location.href = urlReplaced;
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.light.css') }}" type="text/css"/>
{% endblock %}


