{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row align-items-start">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide shadow-sm" data-ride="carousel"
                 style="position: relative; margin-bottom: 20px;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner" style="border: 1px solid #e5e5e5; position: relative;">
                    <div class="carousel-item active">
                        <img src="{{ asset('images/products/a.jpg') }}" class="d-block w-100" alt="..."
                             style="">
                        <div class="carousel-item-wrapper d-none d-sm-block text-center">
                            <h2>Custom Ice, Wax & Heat Stamps</h2>
                            <p>We have rich experience in producing of your custom ice, wax & heat stamps. You can create your custom stamp here with easy steps.</p>
                            <a href="{{ path('create_stamp') }}" class="btn btn-sm btn-success btn-lg">Create Custom Stamp</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/products/b.jpg') }}" class="d-block w-100" alt="..."
                             style="">
                        <div class="carousel-item-wrapper d-none d-sm-block text-center">
                            <h2>Check our shop</h2>
                            <p>We have some custom handmade muddlers & custom ice stamps ready in our shop.</p>
                            <a href="{{ path('shop') }}" class="btn btn-sm btn-success btn-lg">Start shopping</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/products/c.jpg') }}" class="d-block w-100" alt="..."
                             style="">
                        <div class="carousel-item-wrapper d-none d-sm-block text-center">
                            <h2>Custom Barrels</h2>
                            <p>We are providing wide range of custom products so please feel free to contact us.</p>
                            <a href="{{ path('contact') }}" class="btn btn-sm btn-success btn-lg">Contact us</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/products/d.jpg') }}" class="d-block w-100" alt="..."
                             style="">
                        <div class="carousel-item-wrapper d-none d-sm-block text-center">
                            <h2>Custom Handmade Handles from solid wood</h2>
                            <p>Each custom handle is unique piece of work, feel free to contact us to get one</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/custom-products/{{ randomCustomPhoto.image }}" class="d-block w-100" alt="{{ randomCustomPhoto.type }}"
                             style="">
                        <div class="carousel-item-wrapper d-none d-sm-block text-center">
                            <h2>{{ randomCustomPhoto.type }}</h2>
                            <p>Check other custom items we are making.</p>
                            <a href="{{ path('our_products_show', {'slug': randomCustomPhoto.slug}) }}" class="btn btn-sm btn-success">Visit Custom Work</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/gallery/{{ randomGallery.file }}" class="d-block w-100" alt="{{ randomGallery.title }}"
                             style="">
                        <div class="carousel-item-wrapper d-none d-sm-block text-center">
                            <h2>{{ randomGallery.title }}</h2>
                            <p>More pictures of our work can be found in our gallery section.</p>
                            <a href="{{ path('gallery') }}" class="btn btn-sm btn-success">Visit Gallery</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                {% for custom in customs %}
                    <div class="col-sm-6">
                        <div class="card shadow-sm" style="margin-bottom: 20px; border-radius: 0px; border-top: 1px solid #e5e5e5;">
                            <div class="our-product-wrapper">
                                <a href="{{ path('our_products_show', {'slug': custom.slug}) }}" title="{{ custom.type }}"
                                   class="our-product">
                                    <img src="{{ asset('images/custom-products/'~custom.image)|imagine_filter('thumbnail_gallery') }}" class="card-img-top"
                                         alt="{{ custom.type }}">
                                </a>
                            </div>
                            <div class="card-body" style="display: block;">
                                <h5 class="card-title">{{ custom.type }}</h5>
                                <p class="card-text" style="margin-bottom: 3rem;">{{ custom.intro }}</p>
                                <a href="{{ path('our_products_show', {'slug': custom.slug}) }}"
                                   class="btn btn-primary btn-md" style="position: absolute; bottom: 20px; right: 20px;">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {#<hr style="margin: 20px 0;"/>#}
    {#<h3 class="display-4 text-center">Featured Products</h3>#}
    {#<p class="lead text-center">Discover more items from us in <a href="{{ path('shop') }}" title="CocktailBrandalism Shop">our#}
            {#shop</a>. If you are looking for something specific or custom made then don't hesitate & <a#}
                {#href="{{ path('contact') }}" title="CocktailBrandalism contacts">contact us</a>. <br />Custom made ice stamps, heat stamps or branding irons can be created <a href="{{ path('create_stamp') }}">here</a>.</p>#}
    {#<div class="row">#}
        {#{% for product in products %}#}
            {#<div class="col-md-3 col-sm-6">#}
                {#<div class="product-grid shadow-sm">#}
                    {#<div class="product-image">#}
                        {#<a href="{{ path('shop_show_product_details', {'slug': product.slug}) }}">#}
                            {#<img class="pic-1 img-fluid" src="{{ asset('images/products/'~product.image)|imagine_filter('thumbnail_gallery') }}">#}
                        {#</a>#}
                        {#<span class="product-new-label">£{{ product.price }}</span>#}

                    {#</div>#}
                    {#<div class="product-content">#}
                        {#<h3 class="title">{{ product.name }}</h3>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}
{% endblock %}
