{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
            <div class="card">
                <h1 class="card-header">
                    {{ title }}
                </h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% if shippings|length > 0 %}
                                <div class="card">
                                    <div class="card-header">
                                        Current Values
                                    </div>
                                    <div class="card-body">
                                        <div class="alert alert-info">If you need to modify data please contact your System Administrator to "Add new shipping option" scroll down.</div>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr class="bg-info">
                                                <td>#</td>
                                                <td>Name</td>
                                                <td>HTML</td>
                                                <td>Preview </td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for shipping in shippings %}
                                                <tr>
                                                    <td>{{ shipping.id }}</td>
                                                    <td>{{ shipping.name }}</td>
                                                    <td>{{ shipping.description }}</td>
                                                    <td>{{ shipping.description|raw }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-info">
                                    No shipping information found.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="card border-success">
                                <div class="card-header text-white bg-success">
                                    Create New Shipping Text
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.description, {'attr' : {'rows': 3}}) }}
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save Shipping Option Text
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('customers') }}" class="btn btn-secondary float-right">Close</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}