{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="card-header">
                {% include 'create_stamp/partials/_tabs.html.twig' %}
            </div>
            <div class="card-body">
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        There was a problem to submit your form. Please scroll down for more information.
                    </div>
                {% endif %}
                <h1 class="display-4">Ice Stamp</h1>
                <p class="lead">Please provide the following details for your custom Ice Stamp.<br/>
                    Technical Details:
                    <ul>
                        <li>Engraving depth: Default <b>2mm</b></li>
                        <li>Lead free brass</li>
                        <li>Wooden Handle: Default 1A</li>
                    </ul>
                    If you have any questions please contact us on <b>info@cocktailbrandalism.com</b></p>
                <hr/>
                <h1>Upload your file</h1>
                <p class="lead">Upload your logo, not all logos are suitable for ice stamp. We might contact you in this
                    case to work with you to make it possible.</p>
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        {% for child in form.children %}
                            {% for error in child.vars.errors %}
                                {% if child.vars.name == 'file' %}
                                    {{ error.message }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <input type="file" id="ice_stamp_custom_form_file" name="ice_stamp_custom_form[file]">
                <hr/>
                <h1>Quantity</h1>
                <p class="lead">Each logo is unique therefor we are not able to reduce the price of single stamp however
                    with higher volume (usually 10+) of the same ice stamp we are able to provide better prices.</p>
                {% if not form.vars.valid %}
                    {% for child in form.children %}
                        {% for error in child.vars.errors %}
                            {% if child.vars.name == 'qty' %}
                                <div class="alert alert-danger">
                                    Please enter quantity greater than 0.
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <label class="control-label lead" style="margin-right: 47px;">Enter Quantity</label>
                <div class="form-check-inline">
                    <input type="number" class="form-control" name="ice_stamp_custom_form[qty]" value="{{ form.vars.submitted and form.vars.data.qty ? form.vars.data.qty : '' }}">
                </div>
                <hr/>
                <h1>Shape of the Stamp & Size details</h1>
                <p class="lead">Please select shape of the ice stamp.</p>
                <p>
                    Please note that our standard sizes are <b>40mm(1.6") and 50mm(2")</b> for circle(diameter)/square/rectangle. Bigger size will increase the final price.<br />
                    <b>Sphere stamp</b> size is calculated based on <b>ball diameter and 100 degree angle</b> and usually will increase the price by <b>€50-60</b> compare to flat/normal ice stamp.
                </p>
                <div class="row ">
                    <div class="item-selection-custom text-center">
                        <div data-stamp-shape="Square" class="custom-shape-stamp-wrapper square
                         {% if form.vars.submitted %}
                          {{ form.vars.data.stamp_shape == 'Square' ? 'active' : '' }}
                         {% else %}
                            active
                         {% endif %}
                         js-stamp-shape">
                            <i class="fas fa-check text-success fa-2x"></i>
                            <img src="{{ asset('images/logo.jpg') }}">
                        </div>
                        <span class="">Square</span>
                    </div>
                    <div class="item-selection-custom text-center">
                        <div data-stamp-shape="Rectangle" class="custom-shape-stamp-wrapper rectangle
                         {{ form.vars.submitted and form.vars.data.stamp_shape == 'Rectangle' ? 'active' : '' }}
                         js-stamp-shape">
                            <i class="fas fa-check text-success fa-2x"></i>
                            <img src="{{ asset('images/logo.jpg') }}">
                        </div>
                        <span class="">Rectangle</span>
                    </div>
                    <div class="item-selection-custom text-center">
                        <div data-stamp-shape="Circle" class="custom-shape-stamp-wrapper circle
                         {{ form.vars.submitted and form.vars.data.stamp_shape == 'Circle' ? 'active' : '' }}
                        js-stamp-shape">
                            <i class="fas fa-check text-success fa-2x"></i>
                            <img src="{{ asset('images/logo.jpg') }}">
                        </div>
                        <span class="">Circle</span>
                    </div>
                    <div class="item-selection-custom text-center">
                        <div data-stamp-shape="Ellipse" class="custom-shape-stamp-wrapper ellipse
                        {{ form.vars.submitted and form.vars.data.stamp_shape == 'Ellipse' ? 'active' : '' }}
                        js-stamp-shape">
                            <i class="fas fa-check text-success fa-2x"></i>
                            <img src="{{ asset('images/logo.jpg') }}">
                        </div>
                        <span class="">Oval/Ellipse</span>
                    </div>
                    <div class="item-selection-custom text-center">
                        <div data-stamp-shape="Custom" class="custom-shape-stamp-wrapper custom
                         {{ form.vars.submitted and form.vars.data.stamp_shape == 'Custom' ? 'active' : '' }}
                         js-stamp-shape">
                            <i class="fas fa-check text-success fa-2x"></i>
                            <img src="{{ asset('images/logo.jpg') }}">
                        </div>
                        <span class="">Custom</span>
                    </div>
                </div>
                <hr/>
                <div>
                    <label class="control-label lead" style="margin-right: 47px;">Is this a sphere stamp?</label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input js-radioButton" type="radio"
                               name="ice_stamp_custom_form[is_sphere]"
                               id="sphereNo"
                               {% if form.vars.submitted %}
                                   {{ not form.vars.data.is_sphere ? 'checked' : '' }}
                               {% else %}
                                checked
                               {% endif %}
                               value="0"
                        >
                        <label class="form-check-label" for="sphereNo">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input js-radioButton" type="radio"
                               name="ice_stamp_custom_form[is_sphere]"
                               id="sphereYes"
                                {{ form.vars.submitted and form.vars.data.is_sphere ? 'checked' : '' }}
                               value="1"
                        >
                        <label class="form-check-label" for="sphereYes">Yes</label>
                    </div>
                </div>
                <div class="row">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {% for error in child.vars.errors %}
                                {% if child.vars.name == 'size' %}
                                    <div class="col-md-12">
                                        <div class="alert alert-danger">
                                            Please enter your size with units.
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    <div class="col-md-4 sizesParent">
                        <div class="squareStampSize sizeInputs" style="display:
                        {% if form.vars.submitted %}
                            {{ form.vars.data.stamp_shape == 'Square' and form.vars.data.is_sphere == false  ? 'block' : 'none' }}
                        {% else %}
                            block
                        {% endif %}
                        ;">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-6 col-form-label">Side of Square</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sizeSquare"
                                           name="ice_stamp_custom_form[sizeSquare]" value="{{ form.vars.submitted and form.vars.data.sizeSquare ? form.vars.data.sizeSquare : '' }}">
                                    <small class="form-text text-muted">include units, our standard sizes 40mm(1.6") and 50mm (2")</small>
                                </div>
                            </div>
                        </div>
                        <div class="rectangleStampSize sizeInputs" style="display: {{ form.vars.submitted and form.vars.data.stamp_shape == 'Rectangle' and form.vars.data.is_sphere == false  ? 'block' : 'none' }};">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Side A of Rectangle</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sizeRectangleA"
                                           name="ice_stamp_custom_form[sizeRectangleA]" value="{{ form.vars.submitted and form.vars.data.sizeRectangleA ? form.vars.data.sizeRectangleA : '' }}">
                                    <small class="form-text text-muted">include units, our standard sizes 40mm(1.6") and 50mm (2"), minimum size 16mm</small>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Side B of Rectangle</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sizeRectangleB"
                                           name="ice_stamp_custom_form[sizeRectangleB]" value="{{ form.vars.submitted and form.vars.data.sizeRectangleB ? form.vars.data.sizeRectangleB : '' }}">
                                    <small class="form-text text-muted">include units, our standard sizes 40mm(1.6") and 50mm (2"), minimum size 16mm</small>

                                </div>
                            </div>
                        </div>
                        <div class="circleStampSize sizeInputs" style="display: {{ form.vars.submitted and form.vars.data.stamp_shape == 'Circle' and form.vars.data.is_sphere == false  ? 'block' : 'none' }};">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Diameter</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sizeCircle"
                                           name="ice_stamp_custom_form[sizeCircle]" value="{{ form.vars.submitted and form.vars.data.sizeCircle ? form.vars.data.sizeCircle : '' }}">
                                    <small class="form-text text-muted">include units, our standard sizes 40mm(1.6") and 50mm (2") for diameter</small>

                                </div>
                            </div>
                        </div>
                        <div class="ellipseStampSize sizeInputs" style="display: {{ form.vars.submitted and form.vars.data.stamp_shape == 'Ellipse' and form.vars.data.is_sphere == false ? 'block' : 'none' }};">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Major side A</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sizeEllipseA"
                                           name="ice_stamp_custom_form[sizeEllipseA]" value="{{ form.vars.submitted and form.vars.data.sizeEllipseA ? form.vars.data.sizeEllipseA : '' }}">
                                    <small class="form-text text-muted">include units</small>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Minor side B</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="sizeEllipseB"
                                           name="ice_stamp_custom_form[sizeEllipseB]" value="{{ form.vars.submitted and form.vars.data.sizeEllipseB ? form.vars.data.sizeEllipseB : '' }}">
                                    <small class="form-text text-muted">include units</small>

                                </div>
                            </div>
                        </div>
                        <div class="sphereStampSize sizeInputs" style="display: {{ form.vars.submitted and form.vars.data.is_sphere ? 'block' : 'none' }};">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Diameter of the Ice
                                    Ball</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="diameterIceBall"
                                           name="ice_stamp_custom_form[diameterIceBall]" value="{{ form.vars.submitted and form.vars.data.diameterIceBall ? form.vars.data.diameterIceBall : '' }}">
                                    <small class="form-text text-muted">include units in order to calculate stamp dimensions</small>

                                </div>
                            </div>
                        </div>
                        <div class="customStampSize sizeInputs" style="display: {{ form.vars.submitted and form.vars.data.stamp_shape == 'Custom' ? 'block' : 'none' }};">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Custom Size Note</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="customSizeNote"
                                              name="ice_stamp_custom_form[customSizeNote]">{{ form.vars.submitted and form.vars.data.customSizeNote ? form.vars.data.customSizeNote : '' }}</textarea>
                                    <small class="form-text text-muted">description of shape & size</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <h1>Handle Selection</h1>
                <p class="lead">Please select shape of the handle for your ice stamp.</p>
                <div class="row ">
                    {% for shape in handleShapes %}
                        <div class="item-selection-custom text-center">
                            <div data-shape="{{ shape.value }}"
                                 class="custom-shape-wrapper
                                 {% if form.vars.submitted %}
                                    {{ form.vars.data.handle_shape == shape.value ? 'active' : '' }}
                                 {% else %}
                                    {{ loop.first ? 'active' }}
                                 {% endif %}
                                 js-shape-element">
                                <i class="fas fa-check text-success fa-2x"></i>
                                <img src="{{ asset('images/handleShape/'~shape.image) }}">
                            </div>
                            <span class="text-center">{{ shape.value }}</span>
                        </div>
                    {% endfor %}
                </div>
                <p class="lead">Please select color of the handle.</p>
                <div class="row">
                    {% for color in handleColors %}
                        <div class="item-selection-custom text-center">
                            <div data-color="{{ color.value }}"
                                 class="custom-color-wrapper
                                  {% if form.vars.submitted %}
                                    {{ form.vars.data.handle_color == color.value ? 'active' : '' }}
                                 {% else %}
                                    {{ loop.first ? 'active' }}
                                 {% endif %}
                                  js-color-element">
                                <i class="fas fa-check text-success fa-2x"></i>
                                <img src="{{ asset('images/handleColor/'~color.image) }}">
                            </div>
                            <span class="text-center">{{ color.value }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" id="stamp_shape" name="ice_stamp_custom_form[stamp_shape]" value="{{ form.vars.submitted and form.vars.data.stamp_shape ? form.vars.data.stamp_shape : 'Square' }}"/>
                <input type="hidden" id="handle_shape" name="ice_stamp_custom_form[handle_shape]" value="{{ form.vars.submitted and form.vars.data.handle_shape ? form.vars.data.handle_shape : '1' }}"/>
                <input type="hidden" id="handle_color" name="ice_stamp_custom_form[handle_color]" value="{{ form.vars.submitted and form.vars.data.handle_color ? form.vars.data.handle_color : 'A' }}"/>
                <input type="hidden" id="size" name="ice_stamp_custom_form[size]" value=''/>
                {{ form_row(form._token) }}
                <button type="button" id="visibleButton" class="btn btn-success btn-md"><i class="fas fa-save"></i> Save
                    Ice Stamp
                </button>
                <button type="submit" id="realButton" class="btn btn-success btn-md d-none"><i class="fas fa-save"></i>
                    Save Ice Stamp
                </button>
                <a href="{{ path('create_stamp_items', {'identifier' : enquiry.identifier}) }}"
                   class="btn btn-md btn-outline-secondary float-right">Close</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/custom_stamp.js') }}" type="text/javascript"></script>
{% endblock %}
