{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'partials/_admin_tabs.html.twig' %}
        </div>
        <div class="card-body">
            <small class="text-muted">
                Double click on row for more details.
            </small>
            <div id="jqxGrid"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jqwidgets/jqx-all.js') }}"></script>
    <script>
    $(document).ready(function () {
        var getLocalization = function () {
            var localizationobj = {};
            localizationobj.currencysymbol = "€";
            localizationobj.decimalseparator = ".";
            localizationobj.thousandsseparator = ",";
            return localizationobj;
        };

        var data = {{ records|json_encode|raw }};
        var source = {
            localdata: data,
            datafields: [
                {name: 'sketch_id', type: 'number'},
                {name: 'sketch_name', type: 'string'},
                {name: 'quote', type: 'string'},
                {name: 'quote_id', type: 'number'},
                {name: 'customer', type: 'string'},
                {name: 'sketch_stamp_type', type: 'string'},
                {name: 'sketch_stamp_shape', type: 'string'},
                {name: 'sketch_dimension', type: 'string'},
                {name: 'sketch_weight', type: 'number'},
                {name: 'sketch_price', type: 'number'},
            ],
            datatype: "json"
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#jqxGrid").jqxGrid({
            theme: 'light',
            width: '100%',
            source: dataAdapter,
            showfilterrow: true,
            filterable: true,
            sortable: false,
            pageable: false,
            showcolumnlines: false,
            localization: getLocalization(),
            columns: [
                {text: '#', columntype: 'integer', datafield: 'sketch_id', width: '5%', hidden: true},
                {text: '#', columntype: 'integer', datafield: 'quote_id', width: '5%', hidden: true},
                {text: 'Name', columntype: 'string', datafield: 'sketch_name', width: '10%'},
                {text: 'Quote', columntype: 'string', datafield: 'quote', width: '10%'},
                {text: 'Customer', columntype: 'string', datafield: 'customer', width: '25%'},
                {text: 'Stamp Type', datafield: 'sketch_stamp_type', filtertype: 'checkedlist', width: '10%'},
                {text: 'Stamp Shape', datafield: 'sketch_stamp_shape',filtertype: 'checkedlist', width: '10%'},
                {text: 'Dimension', datafield: 'sketch_dimension', filtertype: 'number', width: '15%'},
                {text: 'Weight', datafield: 'sketch_weight', filtertype: 'number', width: '10%'},
                {text: 'Price', datafield: 'sketch_price', filtertype: 'number', width: '10%', cellsalign: 'right', cellsformat: 'c2'},
            ]
        });

        $('#clear').click(function () {
            $("#jqxGrid").jqxGrid('clearfilters');
        });

        $('#export').click(function () {
            $('#jqxGrid').jqxGrid('exportdata', 'xls', 'All Sketches {{ 'now'|date('d-m-Y') }}');
        });

        $('#jqxGrid').on('rowclick',function(e){
            var data = $(this).jqxGrid('getrowdatabyid', e.args.rowindex);
            var url = '{{ path('quote_sketch_show',{'id': 'value' }) }}';
            var urlReplaced = url.replace('value', data.quote_id);
            window.location.href = urlReplaced;
        });

    });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.base.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('vendor/jqwidgets/styles/jqx.light.css') }}" type="text/css"/>
{% endblock %}
