{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group" style="margin-bottom: 20px;">
                {% for category in categories %}
                    {% if category.isActive %}
                        <a href="{{ path('shop_category', {'slug': category.slug}) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ category.name }}
                            <span class="badge badge-primary badge-pill">{{ category.product|length }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% for category in categories %}
                {% if category.isActive %}
                    <div class="row ">
                        {% for product in category.product %}
                            {% if product.isActive %}
                                <div class="col-md-4 col-sm-6">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="{{ path('shop_show_product_details', {'slug': product.slug}) }}">
                                                <img class="pic-1 img-fluid" src="{{ asset('images/products/'~product.image) }}">
                                            </a>
                                            <span class="product-new-label">£{{ product.price }}</span>
                                            {#<ul class="social">#}
                                                {#<li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>#}
                                            {#</ul>#}
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title">{{ product.name }}</h3>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    No products in {{ category.name }} have been found.
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-info">
                        No categories have been found.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>






{% endblock %}