{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
            <div class="card">
                <div class="card-header">
                    {% include 'quote/partials/_tabs.html.twig' %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">
                                    <div>
                                        <h6 class="my-0">Quote Reference</h6>
                                        <small class="text-muted">#CBQ00{{ quote.id }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                    <div>
                                        <h6 class="my-0">Customer</h6>
                                        <small class="text-muted">{{ quote.customer.email }}
                                        </small>
                                        <br/>
                                        <small class="text-muted">{{ quote.customer.name }}
                                        </small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="my-0">Status</h6>
                                        <small class="text-muted">{{ quote.status }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="my-0">Quote Generated Date</h6>
                                        <small class="text-muted">{{ quote.generatedAt|date('d/m/Y H:i') }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item {{ quote.shippingCountry ? '' : 'list-group-item-danger' }}">
                                    <div>
                                        <h6 class="my-0">Shipping Country</h6>
                                        <small class="text-muted">{{ quote.shippingCountry.name ?? 'Not Known' }}</small>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-9">
                            <div class="card inner-card">
                                {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
                                <div class="card-header">
                                    Quote Details
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.customer) }}
                                    {{ form_row(form.request) }}
                                    {{ form_row(form.answer) }}
                                    {{ form_row(form.deadlineDate) }}
                                    {{ form_row(form.shippingCountry) }}
                                    {{ form_row(form.shippingInfo) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.shippingDetails) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.billingDetails) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.status) }}
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-md btn-success"><i class="fas fa-save"></i> Update
                                        Details
                                    </button>
                                    <a href="{{ asset('images/fedex.png') }}" target="_blank"
                                       class="btn btn-md btn-primary">
                                        <i class="fas fa-shipping-fast"></i> Delivery Options
                                    </a>
                                    <a href="{{ path('quote_show', {'id' : quote.id}) }}"
                                       class="btn btn-info btn float-right">Cancel</a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '+0d'
            });
        });
    </script>
{% endblock %}
