{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
            <div class="card">
                <h1 class="card-header">
                    {{ title }}
                </h1>
                <div class="card-body">
                    {{ form_row(form.customer) }}
                    {{ form_row(form.request) }}
                    {{ form_row(form.answer) }}
                    {{ form_row(form.deadlineDate) }}
                    {{ form_row(form.shippingCountry) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.shippingDetails) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.billingDetails) }}
                        </div>
                    </div>
                    {{ form_row(form.status) }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Create Quote</button>
                    <a href="{{ asset('images/fedex.png') }}" target="_blank" class="btn btn-md btn-primary">
                        <i class="fas fa-shipping-fast"></i> Delivery Options
                    </a>
                    <a href="{{ path('quotes') }}" class="btn btn-secondary float-right">Close</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '+0d'
            });
        });
    </script>
{% endblock %}