{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% include 'quote/partials/_tabs.html.twig' %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">
                                    <div>
                                        <h6 class="my-0">Quote Reference</h6>
                                        <small class="text-muted">#CBQ00{{ quote.id }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                    <div>
                                        <h6 class="my-0">Customer</h6>
                                        <small class="text-muted">{{ quote.customer.email }}
                                        </small>
                                        <br/>
                                        <small class="text-muted">{{ quote.customer.name }}
                                        </small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="my-0">Status</h6>
                                        <small class="text-muted">{{ quote.status }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="my-0">Quote Generated Date</h6>
                                        <small class="text-muted">{{ quote.generatedAt|date('d/m/Y H:i') }}</small>
                                    </div>
                                </li>
                                <li class="list-group-item {{ quote.shippingCountry ? 'list-group-item-success' : 'list-group-item-danger' }}">
                                    <div>
                                        <h6 class="my-0">Shipping Country</h6>
                                        <small class="text-muted">{{ quote.shippingCountry.name ?? 'Not Known' }}</small>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-9">
                            <div class="card inner-card">
                                <div class="card-header">
                                    Quote Details
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-info">
                                        <div class="row">
                                            <dt class="col-3">Request</dt>
                                            <dd class="col-9">{{ quote.request|nl2br }}</dd>
                                        </div>
                                        <div class="row">
                                            <dt class="col-3">Answer</dt>
                                            <dd class="col-9">{{ quote.answer|nl2br }}</dd>
                                        </div>
                                        <div class="row">
                                            <dt class="col-3">Deadline Date</dt>
                                            <dd class="col-9">{{ quote.deadlineDate ? quote.deadlineDate|date('d/m/Y') : 'Not set' }}</dd>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <dt class="col-3">Shipping Country</dt>
                                            <dd class="col-9">{{ quote.shippingCountry.name|default('Not Known') }}</dd>
                                        </div>
                                        <div class="row">
                                            <dt class="col-3">Shipping Time</dt>
                                            <dd class="col-9">
                                                {% if quote.shippingCountry %}
                                                    {{ quote.shippingCountry.fedexDeliveryDay~' day(s)' }}
                                                {% else %}
                                                    Not known
                                                {% endif %}
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('quote_show_edit', {'id': quote.id}) }}"
                                       class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Edit Details</a>
                                    <a href="{{ path('delete_quote', {'id': quote.id}) }}"
                                       class="btn btn-sm btn-outline-danger js-delete-quote"><i
                                                class="fas fa-trash"></i> Delete Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('quotes') }}" class="btn btn-secondary float-right">Close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".js-delete-quote").on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#6c757d',
                confirmButtonText: '<i class="fas fa-check"></i>  Yes, delete quote!',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                }
            });
        });

    </script>
{% endblock %}