{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><i class="fas fa-file"></i> Quote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('quote_sketch_show', {'id': quote.id}) }}"><span class="badge badge-info">{{ quote.brandSketchesNotRemoved|length }}</span> Sketch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('quote_preview', {'id': quote.id}) }}"><i class="fas fa-print"></i> Preview & Generate PDF</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update Quote</button>
                    <a href="{{ path('delete_quote', {'id': quote.id}) }}" class="btn btn-outline-danger js-delete-quote"><i class="fas fa-trash"></i> Delete Quote</a>
                    <a href="{{ path('quotes') }}" class="btn btn-secondary float-right">Close</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".js-delete-quote").on('click', function(e){
            e.preventDefault();
            var url = $(this).attr('href');
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#6c757d',
                confirmButtonText: '<i class="fas fa-check"></i>  Yes, delete quote!',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                }
            });
        });

    </script>
{% endblock %}