{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% include 'quote/partials/_tabs.html.twig' %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% if quote.brandSketches|length > 0 %}
                                <div class="row js-sortable-parent" data-url="{{ path('quote_sketch_reorder', {'id': quote.id}) }}">
                                    {% for sketch in quote.brandSketches %}

                                        <div class="col-md-12" data-id="{{ sketch.id }}">
                                            <div class="card inner-card">
                                                <div class="card-header drag-handle">
                                                    <div class="d-flex">
                                                        <strong>#{{ '%05d'|format(sketch.id) }} {{ sketch.name }}</strong>
                                                        {% if sketch.isRemoved %}
                                                            <a href="{{ path('undo_delete_sketch', {'id': sketch.id}) }}"
                                                               class="btn btn-sm btn-outline-info ml-auto">
                                                                <i class="fas fa-undo"></i> Undo Removal
                                                            </a>
                                                        {% else %}
                                                            <div class="btn-group ml-auto">
                                                                <a href="{{ path('edit_sketch', {'id': sketch.id}) }}"
                                                                   class="btn btn-sm btn-outline-info">
                                                                    <i class="fas fa-edit"></i> Edit
                                                                </a>
                                                                <a href="{{ path('delete_sketch', {'id': sketch.id}) }}"
                                                                   class="btn btn-sm btn-outline-danger js-delete-sketch">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <img
                                                                    src="{{ asset('uploads/sketches/'~sketch.file) }}"
                                                                    alt="{{ sketch.file }}"
                                                                    style="width: 100%;"
                                                            >
                                                            <br/>
                                                            <small>
                                                                <a href="{{ asset('uploads/sketches/'~sketch.file) }}"
                                                                   DOWNLOAD><i
                                                                            class="fas fa-download"></i> {{ sketch.originalFile }}
                                                                </a>
                                                            </small>
                                                            <br/>
                                                            <small class="text-muted">{{ sketch.size }}</small>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <dt class="col-6"><strong
                                                                            class="text-{{ sketch.isRemoved ? 'danger':'success' }}">ItemNo</strong>
                                                                </dt>
                                                                <dd class="col-6">
                                                                    <strong
                                                                            class="text-{{ sketch.isRemoved ? 'danger':'success' }}">#{{ '%05d'|format(sketch.id) }}</strong> {{ sketch.isRemoved ? '<small class="text-danger">Removed</small>':'' }}
                                                                </dd>
                                                            </div>
                                                            <div class="row">
                                                                <dt class="col-6">Stamp Type</dt>
                                                                <dd class="col-6">{{ sketch.stampType }}</dd>
                                                            </div>
                                                            <div class="row">
                                                                <dt class="col-6">Price</dt>
                                                                <dd class="col-6">£{{ sketch.price }}</dd>
                                                            </div>
                                                            {% if sketch.qty %}
                                                                <div class="row">
                                                                    <dt class="col-6">Qty</dt>
                                                                    <dd class="col-6">{{ sketch.qty }}</dd>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <dt class="col-6">Weight</dt>
                                                                <dd class="col-6">{{ sketch.weight }}kg</dd>
                                                            </div>
                                                            <div class="row">
                                                                <dt class="col-6">Dimensions</dt>
                                                                <dd class="col-6">{{ sketch.dimension }}</dd>
                                                            </div>
                                                            <div class="row">
                                                                <dt class="col-6">Stamp Shape</dt>
                                                                <dd class="col-6">{{ sketch.stampShape }}</dd>
                                                            </div>
                                                            {% if sketch.handle %}
                                                                <div class="row">
                                                                    <dt class="col-6">Handle</dt>
                                                                    <dd class="col-6">{{ sketch.handle }}</dd>
                                                                </div>
                                                            {% endif %}
                                                            {% if sketch.note %}
                                                                <div class="row">
                                                                    <dt class="col-6">Note</dt>
                                                                    <dd class="col-6">{{ sketch.note }}</dd>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                    {% endfor %}
                                </div>

                            {% else %}
                                <div class="alert alert-info">
                                    No sketches found.
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewModal"><i
                                class="fas fa-plus-circle"></i> Add New
                        Sketch
                    </button>
                    <a href="{{ path('quote_show', {'id': quote.id}) }}" class="btn btn-secondary float-right">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPriceExamples" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Prices Examples</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe src="{{ asset('images/prices.pdf') }}#view=FitH" width="100%" height="440px"></iframe>
                    <small class="text-muted">Internet Explorer wont load PDF please use different browser.</small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
            <div class="modal-content">
                <div class="modal-header text-white bg-success">
                    <h5 class="modal-title" id="updateInvoiceItemTitle">Add New Sketch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.name) }}
                            {{ form_row(form.file) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.stampType) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.stampShape) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.price) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.weight) }}
                                </div>
                            </div>
                            {{ form_row(form.dimension) }}
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.qty) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.handle) }}
                                </div>
                            </div>
                            <img src="{{ asset('images/handles.png') }}" class="img-fluid"/>
                            {{ form_row(form.note) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Add New
                        Sketch
                    </button>
                    <a href="{{ asset('images/prices.pdf') }}" target="_blank" class="btn btn-md btn-primary"><i
                                class="fas fa-pound-sign"></i> Price Examples</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script>
        $(".js-delete-sketch").on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#6c757d',
                confirmButtonText: '<i class="fas fa-check"></i>  Yes, delete quote!',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                }
            });
        });

        $('.custom-file-input').on('change', function () {
            var fileName = document.getElementById("brand_sketch_form_file").files[0].name;
            $(this).next('.custom-file-label').addClass("selected").html(fileName);

            // $(this).next('.ice_stamp_custom_form_file').val(fileName);
        });

        {% if not form.vars.valid %}
        $('#addNewModal').modal('toggle');
        {% endif %}

        var sortable = Sortable.create($('.js-sortable-parent')[0], {
            handle: '.drag-handle',
            animation: 800,
            onEnd: function(){
                console.log(sortable.toArray());
                $.ajax({
                    'url': $('.js-sortable-parent').data('url'),
                    'method': 'POST',
                    'data': JSON.stringify(sortable.toArray())
                });
            }
        });
    </script>

{% endblock %}