{% include 'emails/partials/_header.html.twig' %}
<td bgcolor="#70bbd9" style="padding: 40px 30px 40px 30px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                <b>Thank you for submitting your enquiry to CocktailBrandalism.com</b>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                Thank you <b>{{ enquiry.name }}</b>,<br/>
                you have received this email because you have submitted following request:
            </td>
        </tr>
        <tr>
            <td>
                {% if enquiry.stampQuoteSketches|length > 0 %}
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td><b>Qty</b></td>
                            <td><b>Item Type</b></td>
                            <td><b>Stamp Shape</b></td>
                            <td><b>Stamp Size</b></td>
                            <td><b>Handle</b></td>
                        </tr>
                        {% for item in enquiry.stampQuoteSketches %}
                            <tr>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.stampType.value ?? '' }}</td>
                                <td>{{ item.stampShape.value ?? '' }} {{ item.isSphere ? '<span class="badge badge-primary">Sphere</span>' : '' }}</td>
                                <td>{{ item.sizeNote }}</td>
                                <td>
                                    {{ item.handleShape.value ?? '' ~item.handleColor.value ?? '' }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <br/>
                <br/>
                <b>Additional Comment:</b><br/>
                {{ enquiry.additionalComment }}
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                We will do our best to prepare a quote for you and send it to
                <b>{{ enquiry.email }}</b> as soon as it will be ready.

            </td>
        </tr>
    </table>
</td>
{% include 'emails/partials/_footer.html.twig' %}