<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="../../../../favicon.ico">#}

    <title>Cocktail Brandalism {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="{{ asset('styles/styles.css') }}" rel="stylesheet">

    {% endblock %}
</head>

<body>
{% include 'partials/_navigation.html.twig' %}
<main role="main" class="container-fluid">
    {% include 'partials/_breadcrumbs.html.twig' %}
    <div class="starter-template">
        {% include 'partials/_flashMessaged.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>Information</h3>
                <p>
                    info@cocktailbrandalism.com<br />
                    download stamp leaflet
                </p>
            </div>
            <div class="col-lg-3">
                <h3>Quick Links</h3>
                <p>
                    <a href="{{ path('shop') }}">shop</a><br />
                    <a href="{{ path('create_stamp') }}">create custom product</a><br />
                    <a href="{{ path('gallery') }}">gallery</a><br />
                    <a href="{{ path('contact') }}">contacts</a><br />
                    <a href="{{ path('front_end_faq') }}">faq</a>
                </p>
            </div>
            <div class="col-lg-3">
                <h3>Shop Categories</h3>
            </div>
            <div class="col-lg-3">
                <h3>Custom Items</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 text-center">
                Copyright &COPY; {{ 'now'|date('Y') }} | Product of <a href="http://www.cocktailbrandalism.com" title="Cocktail Brandalism">Cocktail Brandalism</a><br />
                <ul class="list-inline" style="margin-top: 10px; margin-bottom: 20px;">
                    <li class="list-inline-item" style="margin: 0 20px;">
                        <a href="https://www.facebook.com/CocktailBrandalism/" target="_blank" class="link-media-footer">
                            <span class="fa-stack">
                              <i class="far fa-circle fa-stack-2x"></i>
                              <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item" style="margin: 0 20px;">
                        <a href="https://www.youtube.com/channel/UCZLus1e8f1o9FOIixlsk_IQ" target="_blank" class="link-media-footer">
                            <span class="fa-stack">
                              <i class="far fa-circle fa-stack-2x"></i>
                              <i class="fab fa-youtube fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item" style="margin: 0 20px;">
                        <a href="https://www.instagram.com/cocktailbrandalism/" target="_blank" class="link-media-footer">
                            <span class="fa-stack">
                              <i class="far fa-circle fa-stack-2x"></i>
                              <i class="fab fa-instagram fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="application/javascript"
            src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.11/dist/sweetalert2.all.min.js"></script>
{% endblock %}
</body>
</html>
