{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('images/products/'~product.image) }}" style="border: 1px solid #DDDDDD;">
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info" style="height: 100%;">
                        <h1 class="display-4">{{ product.name }}</h1>
                        <p class="lead">
                            {{ product.intro }}
                        </p>
                        <p>
                        <h1>Price: <span class="text-success">£{{ product.price }}</span></h1>
                        </p>
                        <p style="margin-bottom: 40px;">
                            {{ product.description|raw }}
                        </p>
                        <br />
                        <div id="js-add-to-cart" class="btn btn-lg btn-success"
                             style="position: absolute; bottom: 20px; margin-top: 20px;"><i
                                    class="fas fa-shopping-cart"></i> Add to Cart
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#js-add-to-cart").on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            swal({
                title: 'Under Development',
                html: 'We are working hard to develop our e-shop.<br />' +
                    'Please contact <b>info@cocktailbrandalism.com</b> to buy this product!<br />' +
                    'Sorry for any inconvenience.',
                type: 'info',
                cancelButtonColor: '#6c757d',
                allowOutsideClick: false,
            });
        });
    </script>
{% endblock %}

