{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="display-4">What we do</h1>
    <p class="lead">
        CocktailBrandalism offers large variety of custom products that are often required during the process of making cocktails.<br/>
        Some of our tools are being used in conjuction with ice like ice stamps, sphere stamps or ice press makers to brand your ice
        blocks and ice balls. <br/>
        Another group of our custom tools is bar & restaurant equipments like branding irons, bar stencils & muddlers.
        Below is our compilation of most popular custom products that we have been producing in last
        couple of years.<br/>
        If you haven't found item that you were looking for then feel free to
        <a href="{{ path('contact') }}">contact us</a> and we will do our best to make it happen.
    </p>
    <div class="row">
        {% for item in items %}
            <div class="col-md-3">
                <div class="card" style="margin-bottom: 20px;">
                    <div class="our-product-wrapper">
                        <a href="{{ path('our_products_show', {'slug': item.slug}) }}" title="{{ item.type }}"
                           class="our-product">
                            <img src="images/custom-products/{{ item.image }}" class="card-img-top"
                                 alt="{{ item.type }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.type }}</h5>
                        <p class="card-text" style="min-height: 120px;">{{ item.intro }}</p>
                        <a href="{{ path('our_products_show', {'slug': item.slug}) }}"
                           class="btn btn-primary btn-sm btn-block">Read More</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    No custom products found.
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}