{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="display-4">What we do</h1>
    <p class="lead">
        Below is our compilation of most popular custom products that we have been producing in last
        couple of years.<br/>
        If you haven't found item that you were looking for then feel free to
        <a href="{{ path('contact') }}">contact us</a> and we will do our best to make it happen.
    </p>
    <div class="row">
        {% for item in items %}
            <div class="col-md-3">
                <div class="card shadow-sm" style="margin-bottom: 20px;">
                    <div class="our-product-wrapper">
                        <a href="{{ path('our_products_show', {'slug': item.slug}) }}" title="{{ item.type }}"
                           class="our-product">
                            <img src="{{ asset('images/custom-products/'~item.image)|imagine_filter('thumbnail_gallery') }}" class="card-img-top"
                                 alt="{{ item.type }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.type }}</h5>
                        <p class="card-text" style="min-height: 120px;">{{ item.intro }}</p>
                        <a href="{{ path('our_products_show', {'slug': item.slug}) }}"
                           class="btn btn-primary btn-sm btn-block">Read More</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    No custom products found.
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}