{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="display-4">What we do?</h1>
    <p class="lead">The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing
        elit”, looks like Latin because in its youth, centuries ago, it was Latin.

        Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind
        the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur—a genuine,
        albeit rare, Latin word. Consulting a Latin dictionary led McClintock to a passage from De Finibus Bonorum et
        Malorum (“On the Extremes of Good and Evil”), a first-century B.C. text from the Roman philosopher Cicero.</p>
    <div class="row">
        {% for item in items %}
            <div class="col-md-3">
                <div class="card" style="margin-bottom: 20px;">
                    <div class="our-product-wrapper">
                        <a href="{{ path('our_products_show', {'slug': item.slug}) }}" title="{{ item.type }}"
                           class="our-product">
                            <img src="images/custom-products/{{ item.image }}" class="card-img-top"
                                 alt="{{ item.type }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.type }}</h5>
                        <p class="card-text">{{ item.intro }}</p>
                        <a href="{{ path('our_products_show', {'slug': item.slug}) }}"
                           class="btn btn-primary btn-sm btn-block">Read More</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    No custom products found.
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}